/* GLOBAL FIX */
* {
  box-sizing: border-box;
}

/* WRAPPER */
.table-wrapper {
  width: 100%;
  overflow-x: hidden; /* paksa tidak bisa scroll */
}

/* TABLE */
table {
  width: 100%;
  table-layout: fixed; /* kunci lebar */
}

/* HEADER & CELL */
th, td {
  padding: 8px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* PRODUK (paling besar) */
td:nth-child(1), th:nth-child(1) {
  width: 50%;
  font-size: 15px;
  font-weight: 600;
  white-space: normal;
  word-break: break-word;
}

/* TEBAL */
td:nth-child(2), th:nth-child(2) {
  width: 15%;
  font-size: 12px;
}

/* HARGA */
td:nth-child(3), th:nth-child(3) {
  width: 20%;
  font-size: 14px;
  font-weight: bold;
  color: #007b00;
}

/* SATUAN */
td:nth-child(4), th:nth-child(4) {
  width: 15%;
  font-size: 12px;
}
  html, body {
  overflow-x: hidden;
}
